# Create a .tar.gz archive, using `zopfli` or `gzip` for compression
function targz() {
  if zopfli > /dev/null 2>&1; then
    cmd="zopfli"
  else
    cmd="gzip"
  fi
  local tmpFile="${1}.tar"
  tar -cvf "${tmpFile}" "${1}" &&
  "${cmd}" "${tmpFile}" &&
  rm "${tmpFile}" 2> /dev/null &&
  echo "${tmpFile}.gz created successfully (compressed using \`${cmd}\`)."
}
