[alias]
  ci = commit
  co = checkout
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
  branch = auto
  diff = auto
[core]
  excludesfile = ~/.gitignore
[user]
  name = Aaron Ackerman
  email = theron17@gmail.com
