{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "defaultParams": true,
    "destructuring": true,
    "generators": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "templateStrings": true,
    "spread": true,
    "jsx": true
  },
  "globals": {},
  "plugins": [],
  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "valid-jsdoc": 1,
    "no-cond-assign": 2,
    "no-constant-condition": 2,
    "no-dupe-keys": 2,
    "curly": 2,
    "no-eval": 2,
    "new-parens": 2,
    "no-new-object": 2,
    "no-multiple-empty-lines": 2,
    "no-lonely-if": 2,
    "new-cap": 2,
    "eol-last": 2,
    "comma-style": [2, "last"],
    "camelcase": 2,
    "key-spacing": [2, {"beforeColon": false,"afterColon": true}],
    "indent": [2, 2, {indentSwitchCase: false}],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "comma-spacing": [2, {"before": false, "after": true}],
    "consistent-this": [2, "self"]
  }
}
