function flush {
  # Flush Directory Service cache
  dscacheutil -flushcache;
  # Flush DNS
  killall -HUP mDNSResponder 2>/dev/null;
  # Flush Memcached
  echo 'flush_all' | nc localhost 11211;
  # Flush redis
  if hash redis-cli 2>/dev/null; then
    echo 'FLUSHALL' | redis-cli
  fi
}

function title {
  # set iterm tab title
  echo -e -n "\033];$@\007"
}

function __set-color {
  # iterm proprietary escape sequences for setting colors
  echo -n -e "\033]6;1;bg;red;brightness;$1\a"
  echo -n -e "\033]6;1;bg;green;brightness;$2\a"
  echo -n -e "\033]6;1;bg;blue;brightness;$3\a"
}

function tab-color {
  # set some nice tab colors
  case "$1" in
    red)    __set-color 195  89  76;;
    orange) __set-color 219 154  88;;
    green)  __set-color  65 174  76;;
    blue)   __set-color  92 155 204;;
    yellow) __set-color 240 240   0;;
  esac
}

function tab {
  if hash osascript 2>/dev/null; then
  osascript &>/dev/null <<EOF
    tell application "iTerm"
      tell current terminal
        launch session "Default Session"
      end tell
    end tell
EOF
  fi
}
