[alias]
  ci = commit
  co = checkout
  psuh = push
  pussh = push
  phus = push
  puhs = push
  pus  = push
  puh  = push
  psh  = push
  phs  = push
  poush = push
  spuh = push
  puzh = push
  pul  = pull
  sl = stash list
  sa = stash apply
  br = branch
  unstage = reset head
  yolo = push --force
  back = reset --soft HEAD^
  undo = reset --soft HEAD^
  amend = commit --amend -C HEAD
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
  ui = true
  branch = true
  diff = true
[push]
  default = current
[core]
  excludesfile = ~/.gitignore
[user]
  name = Aaron Ackerman
  email = theron17@gmail.com
[help]
  autocorrect = true
